* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: rgb(0, 0, 0);
    font-size: 5vmin;
    margin-top: 10vmin;
    margin-bottom: 1vmin;
    
}

h2 {
    color: rgb(128, 128, 128);
    font-size: 2vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(8, 10vmin);
    gap: 0.5vmin;
    border: 0.7vmin solid rgba(87, 52, 7, 0.842);
    /* margin-top: 1vmin; */

}

#board>div {

    border: 0.1vmin solid rgb(128, 128, 128);
}

.beige {
    background-color: rgba(219, 219, 192, 0.932);
}

.brown {
    background-color: rgb(190, 135, 72);
}

.black-piece {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    height: 8vmin;
    width: 8vmin;
    margin: 1vmin;

}

.white-piece {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 8vmin;
    width: 8vmin;
    margin: 1vmin;

}

.allowed-move {
    background-color: rgb(140, 255, 150);
}


.selected {
    outline: 3px solid rgb(255, 223, 67);
}

.brown:hover .black-piece,
.brown:hover .white-piece {
    background-color: rgb(255, 223, 67);

}

button {
    margin-top: 0.5vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid rgb(128, 128, 128);
    color: rgb(128, 128, 128);
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(169, 169, 169);
}